body{
    background-color: #4285f4;
}

/* planilla para las consultas */
.consulta-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.consulta-item p {
    margin: 5px 0;
}